<!DOCTYPE html>
<html>
  <head>
    <title>直播之窗 - 直播搜索引擎</title>
    <!--[if lt IE 10]>
      <script src="<%= vendor.js.html5shiv %>"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 9]>
      <script src="<%= vendor.js.respond %>"></script>
    <![endif]-->